@import "defaultvariables";

@import "../valo/valo";

//@import "addons";

@import "addons/switch";

@import "components/button";
@import "components/buttonrenderer";
@import "components/combobox";
@import "components/panel";
@import "components/window";
@import "components/csslayout";
@import "components/valo-menu";

@import "common/localcolor";
@import "common/localcommon";
@import "common/localspacing";
@import "components/d3graph";
@import "components/localicon";
@import "components/locallabel";
@import "components/locallayout";
@import "components/localmenubar";
@import "components/localpanel";
@import "components/searchhistorytree";

@import "components/img";
@import "components/msms-details";

@import "components/tooltip";

@import "components/customgrid";
@import "components/customprogressbar";
@import "components/customeasyuploads";

@import "components/cookieconsent";

@import "img/svg.scss";

$v-included-components: 
	button,
	combobox,
	csslayout,
	customcomponent,
	datefield,
	grid,
	horizontallayout,
	label,
	link,
	menubar,
	nativeselect,
	notification,
	optiongroup,
	passwordfield,
	popupview,
	progressbar,
	slider,
	table, // needed to get grid working (side bar items)
	treegrid,
	tree8,
	tabsheet,
	textarea,
	textfield,
	upload,
	valo-menu,
	verticallayout,
	window;

$v-loading-indicator-color: valo-focus-color($context: $v-color-white);

@mixin fi {

	@include valo;

	//@include fi-addons;

	@include button-renderer;

	@include d3TreeComponent;

	@include local-color;

	@include local-common;

	@include local-icon;

	@include local-spacing;

	@include local-label;

	@include local-layout;

	@include local-menubar;

	@include local-menubar-component-header;

	@include local-panel;

	@include search-history-tree;
	
	@include img;

	@include msms-details;
	
	@include custom-tooltip;

	@include custom-grid;

	@include custom-progressbar;

	@include custom-easy-uploads;

	@include custom-switch;

	@include cookie-consent;

	.v-tabsheet-tabcontainer-content-component {
		font-size: 130%;

		.v-captiontext{
			font-size: 130%;
			line-height: 2.2;
		}
	}
}