@mixin border-radius ($r) {
	-webkit-border-radius: $r;
	-moz-border-radius: $r;
	border-radius: $r;
}

@mixin box-shadow ($s) {
	-webkit-box-shadow: $s;
	-moz-box-shadow: $s;
	box-shadow: $s;
}

@mixin text-shadow ($s) {
	-webkit-text-shadow: $s;
	-moz-text-shadow: $s;
	text-shadow: $s;
}

@mixin icon($name, $char) {
	.icon-#{$name}.v-nativebutton:before,
	.icon-#{$name} > .v-button-wrap:before,
	.icon-#{$name}.v-label:before,
	.v-menubar-menuitem-icon-#{$name}:before {
		content: $char;
	}
}
@mixin noTextSelect(){
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
