/**
 *
 * @group progressbar
 */
$v-progressbar-border-radius: $v-border-radius !default;


/**
 *
 *
 * @param {string} $primary-stylename (v-progressbar) - 
 *
 * @group progressbar
 */
@mixin custom-progressbar ($primary-stylename: v-progressbar) {

	.#{$primary-stylename}-wrapper {
    	@include valo-progressbar-track-style;
		min-width: $v-unit-size * 2;
	}
	
	.#{$primary-stylename}-indicator {
		@include custom-progressbar-indicator-style($background-color: $v-theme-color-alternative2);
		min-width: max($v-border-radius*2, 3px);
		@include transition(width 160ms );
	}
}


/**
 *
 *
 * @param {color} $background-color ($v-background-color) - 
 *
 * @group progressbar
 */
@mixin custom-progressbar-track-style ($background-color: $v-color-white) {
  border-radius: $v-progressbar-border-radius;
  height: round($v-unit-size/2);
  $bg-lightness: if(color-luminance($background-color) < 10, min($v-bevel-depth/2, 10%), min($v-bevel-depth/-2, -10%));
  @include valo-gradient($color: scale-color($background-color, $lightness: $bg-lightness, $saturation: $v-bevel-depth/-2), $direction: to top);
  @include box-sizing(border-box);
}


/**
 *
 *
 * @param {color} $background-color ($v-selection-color) - 
 * @param {string} $border ($v-border) - 
 *
 * @group progressbar
 */
@mixin custom-progressbar-indicator-style ($background-color: $v-selection-color, $border: $v-border) {
  border-radius: $v-progressbar-border-radius;
  height: inherit;
  @include valo-gradient($color: $background-color);
  @include box-shadow(valo-bevel-and-shadow($background-color: $background-color));
  @if $border {
    border: valo-border($border: $border, $color: $background-color, $context: $v-app-background-color);
  } @else {
    border: none;
  }
  @include box-sizing(border-box);
  max-width: 100%;
}
