
@mixin custom-easy-uploads ($primary-stylename: v-multifileupload) {

	.#{$primary-stylename}-dropzone {
		@include valo-textfield-style();
	
		background: none; 
		text-align:center; 
		display:inline-block;
/* 		margin-right: 5px; */
		vertical-align: middle;
 		width: 100%;
		height:5rem;
	}

	.#{$primary-stylename}-dropzone .v-label {
		text-align:center;
		font-size:13px;
	}

	.#{$primary-stylename}-uploads {
		display:inline-block;
		vertical-align: middle;
 		width: 100%;
	}

	.#{$primary-stylename}-uploads .v-upload {
		float: right;
	}
	
	.#{$primary-stylename}-uploads .v-button {
		background-image: none;
		margin-top: $v-layout-margin;
		background-color: $v-theme-color-alternative3;
		border: none;
		border-radius: 0px;
	}
}
