@mixin custom-grid($primary-stylename: v-custom-grid) {

	@include valo-grid($primary-stylename);
	
	.#{$primary-stylename} {
		border-right: $v-grid-border;
		border-bottom: $v-grid-border;
	}
	
	.#{$primary-stylename}-scroller-vertical,
	.#{$primary-stylename}-scroller-horizontal {
		border: $v-grid-border;
	}

	.#{$primary-stylename}
		.v-grid-cell-boolean {
			line-height: 1.5rem;
		}

	.#{$primary-stylename}-scroller-vertical {
		border-right: none;
		border-left: $v-grid-border;
		border-bottom: none;
	}

	.#{$primary-stylename}-scroller-horizontal {
		border: none;
		border-left: $v-grid-border;
		border-right: $v-grid-border;
	}

	.#{$primary-stylename}-tablewrapper {
		border: $v-grid-border;
	}

	.#{$primary-stylename}-header-deco {
		border:none;
		border-top: $v-grid-header-border;
		border-left: $v-grid-header-border;
		background-color: $v-grid-header-background-color;
	}

	.#{$primary-stylename}-footer-deco {
		border: none;
		border-top: $v-grid-footer-border;
		border-left: $v-grid-footer-border;
		background-color: $v-grid-footer-background-color;
	}

	.#{$primary-stylename}-horizontal-scrollbar-deco {
		background-color: $v-grid-footer-background-color;
		border: none;
		border-top: $v-grid-footer-border;
	}

	.#{$primary-stylename}-body
		.#{$primary-stylename}-cell-focused:before {
			border:none;
	}

	@for $i from 1 through 10 {
		.#{$primary-stylename}-row-height-#{$i}
		 	.#{$primary-stylename}-body
				.#{$primary-stylename}-cell {
					height: grid-line-height($i);
		}
	}

	.#{$primary-stylename}-cell {
		img {
		    width:auto; /* you can use % */
    		height: $v-font-size;
    	}	
	}
	
	// grid uses different icon for boolean rendered cells
	.v-circle-boolean-grid {
		.v-grid-cell-boolean.boolean-true:before {
			content: "\f111";
		}
		.v-grid-cell-boolean.boolean-false:before {
			content: "";
		}
	}
	
	.rowspangrid {
		.v-custom-grid-cell.span-single {
			background-color: white;
		}
		.v-custom-grid-cell.span-first {
			background-color: white;
			box-shadow:none;
			border-bottom: none;
		}
		.v-custom-grid-cell.span-between {
			border-bottom: none;
			box-shadow:none;
			background-color: white;
		}
		
		.v-custom-grid-cell.span-between > span {
			display: none;
		}
		
		.v-custom-grid-cell.span-last {
			box-shadow:none;
			background-color: white;
		}
		.v-custom-grid-cell.span-last > span {
			display: none;
		}
		
	}
}

@function grid-line-height($line-count) {
	@return $v-font-size * ($v-line-height * ($line-count + $line-count * 0.3) + 0.2);
}

