@mixin img {
	.max-width-70-percent {
    	max-width: 70%;
	}

	.max-height-70-percent {
    	max-height: 70%;
	}

	.max-width-100-percent {
        max-width: 100%;
    }

    .max-height-100-percent {
        max-height: 100%;
    }
}