@mixin local-label($primary-stylename: v-label) {
	.#{$primary-stylename}-very-bold {
		font-weight: $v-title-font-weight;
	}

	.#{$primary-stylename}-very-large {
		font-size: $v-font-size*1.5;
	}

	.#{$primary-stylename}-ellipsis {
	    overflow:hidden; 
	    white-space:nowrap; 
	    text-overflow: ellipsis;	
	}
	
	.#{$primary-stylename}-font-color-title {
		color: $v-title-color;
	}

	.#{$primary-stylename}-font-color-danger {
		color: $v-very-important-color;
	}

	.#{$primary-stylename}-theme-background {
		background-color: $v-theme-color;
	}

	.#{$primary-stylename}-align-right {
		text-align: right;
	}

	.#{$primary-stylename}-text-field {
		@include valo-textfield-style($border: none);
		line-height: inherit;
	}

	.#{$primary-stylename}-text-field-border {
		@include valo-textfield-style();
		line-height: inherit;
	}

	.#{$primary-stylename}-font-color-title-highlight {
		color: $v-title-color;
	}

	.#{$primary-stylename}-rotate-cw-90 {
	    text-align: justify;
	    width: ceil($v-line-height * $v-font-size);
    }
    
	.#{$primary-stylename}-rotate-cw-90 > * {
	    display: inline-block;
    	white-space: nowrap;
    	transform: translate(27%, 0) rotate(90deg);
    	transform-origin: 0 0;
    	vertical-align: bottom;
	}
	.#{$primary-stylename}-rotate-cw-90 > *:before {
    	content:"";
    	float: left;
    	margin-top: 100%;
	}    

	.#{$primary-stylename}-spinner-small{
        @include valo-spinner(16px);
	}

    .#{$primary-stylename}-custom-spinner {
		// Make size divisible by 2, so that the rotation won't jiggle
//		$size: round($size) + round($size) % 2;
		$size: 1rem;
		$thickness: 2px; 
		$color: $v-focus-color; 
		$speed: 500ms;
		
		height: $size !important;
		width: $size !important;
  		@include box-sizing(border-box);
		border: $thickness solid transparentize($color, .8);
		border-top-color: $color;
		border-right-color: $color;
		border-radius: 100%;
		@include animation(v-rotate-360 $speed infinite linear);
		pointer-events: none;

		// No CSS animation in IE8 and IE9
		.v-ie8 &,
		.v-ie9 & {
			border: none;
			border-radius: $v-border-radius;
			background: #fff url(#{$valo-shared-pathPrefix}img/spinner.gif) no-repeat 50% 50%;
			background-size: 80%;
		}

		// No background-size for IE8
		.v-ie8 & {
		min-width: 30px;
			min-height: 30px;
		}    
    }
}
