@mixin local-icon($primary-stylename: v-icon) {
	.colored-icon-green .#{$primary-stylename} {
		color: #7AB800;
	}
	
	.colored-icon-red .#{$primary-stylename} {
		color: #ed473b;
	}
	
	.colored-icon-yellow .#{$primary-stylename} {
		color: #ffc500;
	}
}