@mixin local-panel {

	.v-panel-floating {
		margin: 0px $v-layout-margin-right $v-layout-margin-bottom 0px;
	}

	.v-panel-caption-very-important {
		@include valo-panel-caption-style($background-color: $v-very-important-color);
	}

	 .v-panel-caption-info {
		@include valo-panel-caption-style($background-color: $v-info-color);
	 }

	 .v-panel-caption-theme {
		@include valo-panel-caption-style($background-color: $v-theme-color);
	 }

	 .v-panel-shadowborder {
 	    box-shadow: valo-bevel-and-shadow($shadow: $v-window-shadow);
	 }
	
	.v-panel-caption {
		color: $v-title-color;
		font-weight: $v-title-font-weight;
	    box-shadow: none;
		font-size: $v-font-size--large * 0.9;
		padding-left: $v-layout-margin-left;
		padding-top: $v-layout-margin-top/1.5;
		padding-bottom: $v-layout-margin-bottom/1.5;
	}
	
	.v-panel-item-expand {
		flex: 1;
	}
}
