@mixin local-menubar($primary-stylename: v-menubar) {

	.#{$primary-stylename}-header {
		.#{$primary-stylename}-menuitem-unchecked {
   			@include valo-menubar-menuitem-checked-style($background-color: $v-theme-color);
			color: $v-theme-color-alternative1;
		}
		.#{$primary-stylename}-menuitem-checked {
   			@include valo-menubar-menuitem-checked-style($background-color: $v-theme-color-alternative1);
			color: $v-theme-color;
		}
		.#{$primary-stylename}-menuitem {
			font-weight: 500;
			font-size: $v-font-size * 1.15;
			.v-icon {
				margin: 0px;
			}
		}
		
		&:focus:after {
			border:none;
			box-shadow:none;		
		}
	}
}

@mixin local-menubar-component-header($primary-stylename: v-menubar) {

	.#{$primary-stylename}-component-header {
		.#{$primary-stylename}-menuitem-unchecked {
   			@include valo-menubar-menuitem-checked-style($background-color: $v-theme-color);
			color: $v-theme-color-alternative1;
		}
		.#{$primary-stylename}-menuitem-checked {
   			@include valo-menubar-menuitem-checked-style($background-color: $v-theme-color-alternative1);
			color: $v-theme-color;
		}
		.#{$primary-stylename}-menuitem {
			color: $v-theme-color-alternative1;
			.v-icon {
				margin: 0px;
			}
		}
		.#{$primary-stylename}-menuitem-selected {
			background-image: none;
		}

		.#{$primary-stylename}-menuitem:hover{
			color: $v-theme-color-alternative1;
		}

		&:focus:after {
			@include valo-button-hover-style($v-theme-color);
			border:none;
			box-shadow:none;		
		}

      &:hover:after {
        @include valo-button-hover-style($v-theme-color);
      }

      &:active:after {
        @include valo-button-active-style($v-theme-color);
      }
	}
}