@mixin msms-details {

    .msms-details-section-margin {
        margin-bottom: 1%;
    }

    .msms-details-img-margin-left {
        margin-left: 1%;
    }

    .msms-details-img-margin-bottom {
        margin-bottom: 1%;
    }

    .msms-details-img {
    //  5 images in one row with 4 margins at 1% -> (100% - 4%) / 5 = 19.2%
        width: 19.2%;
        cursor: pointer;
    }

    .msms-details-img:hover {
        border-color: #2d2d2d;
    }

}