@mixin search-history-tree($primary-stylename: v-tree8) {

	.#{$primary-stylename}-search-history .#{$primary-stylename}-scroller-horizontal {
		border-top: 1px solid $v-color-lightgray;
		border-right: 1px solid $v-color-lightgray;
	}

	.#{$primary-stylename}-search-history .#{$primary-stylename}-scroller-vertical {
		border-left: 1px solid $v-color-lightgray;
	}

	.#{$primary-stylename}-search-history .#{$primary-stylename}-horizontal-scrollbar-deco {
		border-top: 1px solid $v-color-lightgray;
	}

	.#{$primary-stylename}-search-history .#{$primary-stylename}-row-focused::before {
		border: none;
	}

  .#{$primary-stylename}-search-history .#{$primary-stylename}-cell-content {
    padding-left: $v-grid-cell-padding-horizontal;
    padding-right: $v-grid-cell-padding-horizontal;
  }

	.#{$primary-stylename}-search-history .selected .#{$primary-stylename}-cell-content {
		background-color: $v-theme-color-alternative3;
		color: white;
	}

	.#{$primary-stylename}-search-history .clickable .#{$primary-stylename}-cell-content {
		cursor: pointer;
	}

	.#{$primary-stylename}-search-history .v-tree8-expander {
		cursor: pointer;
	}
}