body {
  font: 12px Verdana, "Lucida Sans", Arial, Helvetica, sans-serif;
  margin-left: 8px;
  margin-right: 8px;
}

h1 {
  font-size: 2.5em; /* 40px/16=2.5em */
}

h2 {
  font-size: 1.875em; /* 30px/16=1.875em */
}

p {
  font-size: 1.2em; /* 30px/16=1.875em */
}
