@mixin local-color {
	.background-color-alternative1 {
		background-color: $v-theme-color-alternative1;
		background-image: none;
	}

	.background-color-alternative2 {
		background-color: $v-theme-color-alternative2;
		background-image: none;
	}

	.background-color-alternative3 {
		background-color: $v-theme-color-alternative3;
		background-image: none;
	}

	.background-color-alternative4 {
		background-color: $v-theme-color-alternative4;
		background-image: none;
	}

	.background-color-default {
		background-color: $v-theme-color;
		background-image: none;
	}

	.background-color-white {
		background-color: white;
		background-image: none;
	}

	.background-color-none {
		background-color: transparent;
		background-image: none;
	}

	.background-color-lightgray {
		background-color: $v-color-lightgray;
		background-image: none;
	}

  .background-color-row-stripe {
    background-color: $v-grid-row-stripe-background-color;
    background-image: none;
  }

	.background-color-gradient-alternative1 {
		@include valo-gradient($color: $v-theme-color-alternative1);
	}

	.background-color-gradient-alternative2 {
		@include valo-gradient($color: $v-theme-color-alternative2);
	}

	.background-color-gradient-alternative3 {
		@include valo-gradient($color: $v-theme-color-alternative3);
	}

	.background-color-gradient-alternative4 {
		@include valo-gradient($color: $v-theme-color-alternative4);
	}

	.background-color-gradient-default {
		@include valo-gradient($color: $v-theme-color);
	}

	.color-alternative1 {
		color: $v-theme-color-alternative1;
	}

	.color-alternative2 {
		color: $v-theme-color-alternative2;
	}

	.color-alternative3 {
		color: $v-theme-color-alternative3;
	}

	.color-alternative4 {
    	color: $v-theme-color-alternative4;
    }

	.color-white {
		color: white;
	}

	.color-red {
		color: red;
	}

	.color-default-text {
		color: valo-font-color($v-app-background-color);
	}

	.font-color-menu {
		color: #9c9c9c;
	}

	.border-color-alternative1 {
		border: valo-border($color: $v-theme-color-alternative1);
	}

	.border-color-alternative2 {
		border: valo-border($color: $v-theme-color-alternative2);
	}

	.border-color-alternative3 {
		border: valo-border($color: $v-theme-color-alternative3);
	}

	.border-color-white {
		border: valo-border($color: white);
	}

	.border-bottom-color-alternative1 {
		border-bottom: valo-border($color: $v-theme-color-alternative1);
	}

	.border-bottom-color-alternative2 {
		border-bottom: valo-border($color: $v-theme-color-alternative2);
	}

	.border-bottom-color-alternative3 {
		border-bottom: valo-border($color: $v-theme-color-alternative3);
	}
	
	.border-bottom-color-white {
		border-bottom: valo-border($color: white);
	}
	
	.border-bottom-color-black {
		border-bottom: valo-border($color: black);
	}
	
	.border-bottom-color-none {
		border-bottom: none;
	}
	
}
