@mixin local-common {
	// start changes in FOR-IDENT

	.scroll-overflow {
		overflow: auto;
	}

	.border-thick {
		border-width: 2px;
	}

	.v-captiontext {
		font-size: $v-font-size;
	}

	/**
	 * Borders for checkboxes where missing, this bring them back
	 */
	.v-checkbox > input ~ label::before {
		@include valo-textfield-style();
	}

	.border-none {
		border: none;
		box-shadow: none;
	}
	
	.masonry-layout-tight .masonry-item {
		margin: 0px;
		> .v-widget {
			padding: $v-layout-margin / 2;
		}
	}

	.text-align-left {
    	text-align: left;
    }

	.text-center {
		text-align: center;
	}

	.text-align-right {
		text-align: right;
	}

	.image-center {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.hidden-overflow {
		overflow: hidden;
	}	

	.rotate-90 {
    	-webkit-transform: rotate(90deg);
    	-moz-transform: rotate(90deg);
    	-ms-transform: rotate(90deg);
    	-o-transform: rotate(90deg);
    	transform: rotate(90deg);
	}

	.size-auto {
		width: auto;
		height: auto;
	}

	.height-auto {
		height: auto;
	}

	.width-auto {
		width: auto;
	}


	.v-link-border {
		@include valo-textfield-style();
		line-height: inherit;
		color: $v-link-font-color;
	}

	.v-table-header-wrap-colored {
		background-color: none;
	}


	.table-cell-middle-text-left {
		vertical-align: middle;
		display: table-cell;
	}

	.table-cell-middle {
		text-align: center;
		vertical-align: middle;
		display: table-cell;
	}

	.float-right {
		float: right;
		text-align: right;
	}

	.float-center {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}

	.float-left {
		float:left;
	}

	.nowrap {
		white-space: nowrap;  
	}

	.wordwrap {
		white-space: pre;           /* CSS 2.0 */
		white-space: pre-wrap;      /* CSS 2.1 */
		white-space: pre-line;      /* CSS 3.0 */
		white-space: -pre-wrap;     /* Opera 4-6 */
		white-space: -o-pre-wrap;   /* Opera 7 */
		white-space: -moz-pre-wrap; /* Mozilla */
		white-space: -hp-pre-wrap;  /* HP Printers */
		word-wrap: break-word;      /* IE 5+ */
	}


	.v-datefield-popup {
		$temp: $v-color-white;
		$v-background-color: $v-app-background-color;
		background-color: $v-app-background-color;
		color: valo-font-color($v-app-background-color);
		@include valo-datefield;
		$v-background-color: $temp;
	}
	
	.v-select-twincol select {
		$temp: $v-color-white;
		$v-background-color: $v-app-background-color;
    	background-color: $v-background-color;
		color: valo-font-color($v-background-color);
		@include valo-textfield-style();
    	@include valo-components;
		$v-background-color: $temp;
    	height: auto;
	}

	.valo-menu-item span.v-icon {
		vertical-align: top;
	}

	.valo-menu-item-huge .valo-menu-item-caption {
		display: none;
	}

	.valo-menu-item-huge {
		$unit-size: $v-unit-size--huge;
		position:relative;
		text-align: center;
		vertical-align: middle;
		height: 38px;
		padding: 0 round($unit-size/2.4);
		font-size: $v-font-size--huge;
	}

	.valo-menu-item-huge .valo-menu-item-wrap {
		line-height: 38px;
	}

	.valo-menu-item-huge span.v-icon {
		line-height: 38px;
		text-align: center;
		vertical-align: middle;
	}
	
	.valo-menu-item-caption {
		white-space: normal;
	}

	.v-menubar-font-large {
		font-size: 130%;
	}
	
	.block {
		display: block;
	}

	.relative {
		position: relative;
	}

	.absolute {
		position: absolute;
	}

	.v-csslayout.responsive-header {
		&[width-range~="0-600px"] {
			height: 4.2rem;	
			.switch-layout {
				width: 100%;	
			}
		}
		&[width-range~="601px-"] {
			height: 2.2rem;	
			.switch-layout {
				width: none;	
			}
		}
	}
	
	.skip-header-container {
		padding-top:2.2rem;
		position:absolute;
		top:0;
	}

	.skip-header-container-responsive {
		&[width-range~="0-600px"] {
			padding-top:4.2rem;
		}
		&[width-range~="601px-"] {
			padding-top:2.2rem;
		}
	}

	.skip-header-view {
		padding-top:2.8rem;
		position:absolute;
		top:0;
		left:0;
	}

	.v-Notification h1 {
		color: $v-theme-color;
	}
	
	.v-Notification p {
		color: $v-theme-color;
	}
	
	.login-panel {
 	    background-color: $v-theme-color-alternative1;
	}
	.login-panel .logo {
		position:absolute;
		right: $v-layout-margin-right / 2;
	}

	.login-panel .float-right {
    	float: right;
    	clear:right;
	}
	
	.login-panel .bold {
		font-size: 120%;
		font-weight: 900;
	}

	.login-panel .v-caption {
		color: $v-theme-color-alternative3;
		display: block;
		margin-left: $v-layout-margin-left / 2;
	}
	
	.login-panel .v-caption-custom-margin-top {
		margin-top: $v-layout-margin-top;
	}
	
	.login-panel .v-csslayout-login-section {
		border-bottom: 2px solid $v-theme-color-alternative3;	
	}
	
	.login-panel .v-button:focus:after {
		border: none;
		box-shadow: none;
	}
	
	.login-panel .v-button-link:hover {
		color: rgba($v-theme-color-alternative3, .7);
	}
	
	
	// === addon tests ===
	
	.v-sliderpanel-wrapper .v-sliderpanel-content {
	  background: white;
	  color: $v-theme-color;
	}
	.v-sliderpanel-wrapper .v-sliderpanel-tab {
  		background: $v-theme-color-alternative3;
 	 	color: $v-theme-color-alternative1;
	}	
	
	.v-sliderpanel-wrapper.layout-vertical {
		position: relative;
	}
	
	.custom-pointer {
		cursor: pointer;
	}
	
	// === end addon tests ===
	
	.no-text-select {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
		
}
