body {
  font: 12px Verdana, "Lucida Sans", Arial, Helvetica, sans-serif;
  margin-left: 5px;
  margin-right: 5px;
  color: #383838;
}

h1 {
  font-size: 2em; /* 40px/16=2.5em */
}

h2 {
  font-size: 1.475em; /* 30px/16=1.875em */
}

p {
  font-size: 1.2em; /* 30px/16=1.875em */
}

.bmbflogo {
    width: 250px;
    z-index: 1;
    border: 0;
}

.imgspartnerlogo {
    height: 60px;
    z-index: 1;
    margin-left: 5px;
    margin-right: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
}

.poweredbylogo {
    height: 100px;
    z-index: 1;
    margin-left: 5px;
    margin-right: 15px;
    border: 0;
}

.license-logo {
    height: 30px;
    z-index: 1;
    margin-left: 5px;
    margin-right: 15px;
    border: 0;
    float: right;
}

.left {
    float: left;
}

.right {
    float: right;
}

.table {
    display: table;
}

.table-cell {
    display: table-cell;
}