@mixin custom-switch($primary-stylename: v-custom-switch) {

	.#{$primary-stylename} {
		width: 60px;
		height: 20px;
		overflow: hidden;
		position: relative;
		cursor: pointer !important;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		border-radius: 0;
		z-index: 1;
	}
	
	.#{$primary-stylename} .v-switch-slider {
		background-color: $v-color-white;
		@include switch-gradient;
		width: 103px;
	}
	
	.#{$primary-stylename}-dark .v-switch-slider {
		@include switch-gradient($v-theme-color);
	}
	
	.#{$primary-stylename}.on .v-switch-slider {
		background-color: $v-color-white;
	}
	.#{$primary-stylename}.on .v-switch-slider:after,
	.#{$primary-stylename} .v-switch-slider:after {
		color: $v-theme-color-alternative3;
		font-family: FontAwesome;
		font-size: $v-font-size * 0.8;
		position: absolute;
		top: 0;
		line-height: $v-font-size + 8px;
	}

	.#{$primary-stylename}-dark.on .v-switch-slider:after,
	.#{$primary-stylename}-dark .v-switch-slider:after {
		color: $v-theme-color;
	}
	
	.#{$primary-stylename} .v-switch-slider:after {
		content: "\f10c";
		left: 55px;
	}
	.#{$primary-stylename}.on .v-switch-slider:after {
		content: "\f111";
		left: 40px;
	}
}

@mixin switch-gradient ($color : $v-theme-color-alternative3) {
	@include background-image(linear-gradient(to right,  
			$color 0%,
			$color 28%,
			rgba(255,255,255,0) 28%,
			rgba(255,255,255,0) 72%,
			$color 72%,
			$color 100%));
}